{% extends 'base.html' %}

{% load static %}

{% block 'head' %}
    <link href="{% static 'css/usuarios.css' %}" rel="stylesheet">
{% endblock %}

{% block 'body' %}

    <div class="container-fluid bg-inscricao">
        
        <div class="row">
            <div class="col-md">
                <h3 class="logo">Permutas One</h3>


                {% include "partials/usuarios/cadastro_form.html" %}

                
                <img src="{% static 'img/logo_one.png' %}" class="logo-one">
            </div>

            <div class="col-md bg-img">
            
            </div>
        
        </div>
    </div>

{% endblock %}